<div class="nav-bar">
    <div class="width-restrictor">
        <div class="nav-left">
            <a class="logo" href="/"><img
                    src="https://cdn.prod.joinwardrobe.com/packs/media/images/60ec4429a9681111e6d4.svg"
                    class="logo"></a>
            <a class="navbar-link undefined" href="/Clothes"
                style="color: rgb(51, 51, 51); border-bottom: none; padding-top: 0px;">Clothes</a>
            <a class="navbar-link undefined" href="/Shoes"
                style="color: rgb(51, 51, 51); border-bottom: none; padding-top: 0px;">Shoes</a>
            <a class="navbar-link undefined" href="/Postclothes"
                style="color: rgb(255, 77, 0); border-bottom: none; padding-top: 0px;">Post your closet</a>
        </div>
        <div class="nav-right">
            <a class="navbar-icon wishlist-icon" href="/Favourite"><img
                    src="https://cdn.prod.joinwardrobe.com/packs/media/images/52e752043ee2a8338016.svg"
                    style="height: 27px;"></a>
            <a class="navbar-icon profile-icon" href="/Profile"><img
                    src="https://cdn.prod.joinwardrobe.com/packs/media/images/f25878ed14e2230e79ea.svg"
                    style="height: 28px;"></a>
        </div>
    </div>
</div>